<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <!-- Latest compiled and minified CSS -->

  </head>

  <body>
    <%= yield %>
  </body>
</html>
